<a href="https://colab.research.google.com/github/naveenkumar1805/sample_longist_data_analysis/blob/main/Copy_of_sample_longlist_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file_path = "/content/drive/MyDrive/Sample_Longlist_Data.csv"
df=pd.read_csv(file_path, encoding='unicode_escape')

In [ ]:
df.shape

(1839, 21)

In [ ]:
df.head(5)

,Date Added,category,sellerlink,sellerlink-url,sellerstorefront-url,sellerproductcount,sellerratings,sellerdetails,seller business name,businessaddress,...,Max % of negative seller ratings - last 30 days,Max % of negative seller ratings - last 90 days,Max % of negative seller ratings - last 12 months,Hero Product 1 #ratings,Hero Product 2 #ratings,Sample brand name,Sample Brand URL,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,15-Nov-20,Garden,Seller 1,Seller 1-link,Seller 1-storefrontlink,"1-16 of over 100,000 results",88% positive in the last 12 months (118 ratings),Lohas Living Inc James Mazzello US 845 3RD Ave...,Business Name:Lohas Living Inc,411 THEODORE FREMD AVESTE 206 SOUTHRyeNY10580-...,...,17,11,12,5873,4957,Visit the YAMAZAKI Store,https://www.amazon.de/-/en/stores/YAMAZAKI/pag...,NaN,NaN,NaN
1,15-Nov-20,Garden,Seller 2,Seller 2-link,Seller 2-storefrontlink,NaN,90% positive in the last 12 months (566 ratings),Herzlich Willkommen im Amazon Shop von 1a-Hand...,Business Name:1a-Handelsagentur,1a HandelsagenturLindenallee 2MalchowMecklenbu...,...,2,2,9,0,0,Visit the tesa Store,https://www.amazon.de/-/en/stores/tesa/page/12...,NaN,NaN,NaN
2,15-Nov-20,Garden,Seller 3,Seller 3-link,Seller 3-storefrontlink,"1-16 of over 2,000 results",85% positive in the last 12 months (75 ratings),67878u6i7 is committed to providing each custo...,Business Name:nantongaohuanfangzhipinyouxiango...,zhongnanshijicheng27zhuang1410haochongchuanqun...,...,0,25,12,164,162,TXYFYP,https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...,NaN,NaN,NaN
3,15-Nov-20,Garden,Seller 4,Seller 4-link,Seller 4-storefrontlink,1-16 of 123 results,NaN,7 days home life supermarket is committed to p...,Business Name:Zhengzhou Yaoqiong Trading Company,?????????????????????????????1901?450000CN,...,0,0,0,0,0,SHIFENG,https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...,NaN,NaN,NaN
4,15-Nov-20,Garden,Seller 5,Seller 5-link,Seller 5-storefrontlink,"1-16 of over 1,000 results",81% positive in the last 12 months (52 ratings),78 68yui678 is committed to providing each cus...,Business Name:shenzhenfeichangshangmeimaoyiyou...,minzhidadaoshaxialaocun94dongA901longhuaxinqus...,...,0,31,15,224,113,YUOKI99,https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...,NaN,NaN,NaN

In [ ]:
df.columns

Index(['Date Added', 'category', 'sellerlink', 'sellerlink-url',
       'sellerstorefront-url', 'sellerproductcount', 'sellerratings',
       'sellerdetails', 'seller business name', 'businessaddress',
       'Count of seller brands',
       'Max % of negative seller ratings - last 30 days',
       'Max % of negative seller ratings - last 90 days',
       'Max % of negative seller ratings - last 12 months',
       'Hero Product 1 #ratings', 'Hero Product 2 #ratings',
       'Sample brand name', 'Sample Brand URL', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1839 entries, 0 to 1838
Data columns (total 21 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Date Added                                         1839 non-null   object
 1   category                                           1839 non-null   object
 2   sellerlink                                         1839 non-null   object
 3   sellerlink-url                                     1839 non-null   object
 4   sellerstorefront-url                               1839 non-null   object
 5   sellerproductcount                                 1513 non-null   object
 6   sellerratings                                      1411 non-null   object
 7   sellerdetails                                      1812 non-null   object
 8   seller business name                               1783 non-null   object
 9   businessaddress                                    1764 non-null   object
 10  Count of seller brands                             1839 non-null   int64
 11  Max % of negative seller ratings - last 30 days    1839 non-null   int64
 12  Max % of negative seller ratings - last 90 days    1839 non-null   int64
 13  Max % of negative seller ratings - last 12 months  1839 non-null   int64
 14  Hero Product 1 #ratings                            1839 non-null   int64
 15  Hero Product 2 #ratings                            1839 non-null   int64
 16  Sample brand name                                  1835 non-null   object
 17  Sample Brand URL                                   1839 non-null   object
 18  Unnamed: 18                                        0 non-null      float64
 19  Unnamed: 19                                        0 non-null      float64
 20  Unnamed: 20                                        0 non-null      float64
dtypes: float64(3), int64(6), object(12)
memory usage: 301.8+ KB

In [ ]:
df.describe()

,Count of seller brands,Max % of negative seller ratings - last 30 days,Max % of negative seller ratings - last 90 days,Max % of negative seller ratings - last 12 months,Hero Product 1 #ratings,Hero Product 2 #ratings,Unnamed: 18,Unnamed: 19,Unnamed: 20
count,1839.000000,1839.000000,1839.000000,1839.000000,1839.000000,1839.000000,0.0,0.0,0.0
mean,6.951060,5.808592,7.632409,12.312670,1399.745514,765.173464,NaN,NaN,NaN
std,6.232073,18.117027,19.902394,23.435871,6204.123987,3817.355945,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
50%,5.000000,0.000000,0.000000,0.000000,3.000000,1.000000,NaN,NaN,NaN
75%,15.000000,0.000000,4.000000,14.000000,176.500000,87.500000,NaN,NaN,NaN
max,16.000000,100.000000,100.000000,100.000000,86856.000000,70732.000000,NaN,NaN,NaN